.github-corner {
  position: fixed;
  top: 0;
  right: 0;
  height: 54px;
  z-index: 9999;
  border: 0;
}

.github-text {
  font-family: "Shadows Into Light", cursive;
  font-size: 35px;
  position: absolute;
  left: -140px;
  top: 11px;
  line-height: 30px;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

/* Non-github css */
.menu-ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  list-style-type: none;
}